body{
    font-family : 'Public Sans';
    
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav p{
    margin : 0;
}

.nav a{
    text-decoration: none;
    color: black;
    margin : 0 20px;
}
.img-container{
    position: relative;
    height:550px;
    top: 0;
    left: 0;
    bottom:0;
}
.img-turn{
    z-index:3;
    position: relative;
    bottom: 200px;
    left : 300px;
    height: 200px;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.img-turn:hover {
    animation : rotateImage 8s infinite;
}

.img-ellisa{
    z-index: 1;
    transform : rotate(0.01turn); 
    position: relative;
    top: 0;
    left: 0;
    transition: 300ms ease all;
    height: 500px;
}

.img-ellisa:hover {
    transform : rotate(0.02turn); 
}

.img-logo{
    z-index: 2;
    transform : rotate(-0.01turn);
    position: absolute;
    top: 30px;
    left: 30px;
    height : 100px;
    transition: 300ms ease all;
}

.img-logo:hover{
    transform : rotate(-0.02turn); 
}

.about-me-section{
    display:flex;
    flex-direction: row;
    margin-left: 100px;
    margin-right: 100px;
}

.about-me-text{
    margin-left: 30px;
}

p {
    line-height: 1.5;
    text-align: left;
}

@keyframes rotateImage {
    0% {
        transform: rotate3d(0, 0, 0, 0deg);
    }

    100% {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}


button a{
    text-decoration: none;
    color:black;
}
button{
    transition: 100ms ease;
    background-color: #F7CB45;
    box-shadow: 2px 2px 0  rgba(0, 0, 0, 1);
    padding : 10px 20px;
    border-radius: 20px;
    margin-right: 10px; margin-right: 10px;
}
button:hover{
    transform: scale(1.02);
    box-shadow: 4px 4px 0  rgba(0, 0, 0, 1);
}
.msia-france{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
}
.msia-france-text{
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
}
.msia-france-text img{
    height: 200px;
    margin : 20px
}
.msia-france-text p, .msia-france-text button{
    margin : 20px
}
.div-projets-tags-text,.div-projets-text,.div-projets{
    display:flex;
    flex-direction: column;
}
.div-projets-img{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.div-projets-tags,.div-projets-projet{
    display:flex;
    flex-direction: row;
}
.div-projets-tags p{
    padding : 5px 8px;
    margin: 0px;
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    background-color: #91A8ED;
    box-shadow: 2px 2px 0  rgba(0, 0, 0, 1);
}
.div-projets-tags{
    gap:20px;
    flex-wrap: wrap;
}

.div-projets-tags-text{
    margin-left:20px;
}
.div-projets-img img{
    height : 200px;
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
}
.div-projets{
    margin-left:100px;
    margin-right:100px;
    margin-top:30px;
}
.div-projets-text{
    align-items: flex-start;
}
.div-projets-projet{
    margin-bottom: 30px;
    margin-top: 30px;
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    padding :20px;
    background-color: #eee4cf;
}


